/* Figure out why page still scrolls */
html,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 125%;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.sub-text {
  margin: 10px 0px 0px 0px;
  color: #333333;
}

.main-div {
  z-index: 1; /* ensures the div is placed above background-canvas */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  /* positions the center-div to the center of the page */
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-canvas {
  z-index: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222222;
}
